/byte-battle_frontend/node_modules/
/byte-battle_frontend/src/vite-env.d.ts
/byte-battle_frontend/package-lock.json
/byte-battle_frontend/dist/
/byte-battle_backend/go.sum
**/*.env
**/*.local
**/*.exe
**/*.vscode
