---

---

<div class="flex text-lg font-sans px-6 py-3 justify-between">
    <button
        logo-button
    >
        <h1 class="text-gray-300/90 font-semibold text-2xl">
            BYTE BATTLE
        </h1>
    </button>
    <div class="text-gray-300/70 font-medium">
        <button 
            register-button
            class="mr-2 px-4 py-1 rounded-full uppercase
                hover:bg-gray-500 hover:bg-opacity-20 hover:shadow-gray-500/20
                transition ease-in-out duration-200 shadow-lg 
        ">
            <h1>
                Register
            </h1>
        </button>
        <button 
            login-button
            class="mr-2 px-4 py-1 rounded-full uppercase
                hover:bg-gray-500 hover:bg-opacity-20 hover:shadow-gray-500/20
                transition ease-in-out duration-200 shadow-lg 
        ">
            <h1>
                Login
            </h1>
        </button>
    </div>
</div>

<script>
    const logoButton = document.querySelector('[logo-button]');
    logoButton.addEventListener('click', () => window.location.replace(`${import.meta.env.PUBLIC_PROTOCOL}://${import.meta.env.PUBLIC_HOSTNAME}:3000/`));

    const registerButton = document.querySelector('[register-button]');
    registerButton.addEventListener('click', () => alert('Register not implemented!'));

    const loginButton = document.querySelector('[login-button]');
    loginButton.addEventListener('click', () => alert('Login not implemented!'));
</script>